<h3 class="title-color">Pagina principal</h3>

<div>
  <h2>Bienvenido</h2>
  <h1>Lista de Compras en Tiempo Real:</h1>
  <div>
    <form  action= "http://localhost:8080/realtimeptoducts" method="post" id="formulario" class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
          <input class="form-control" id="chatBox" type="text" id="texto" placeholder="title">
          <input class="form-control" id="chatBox" type="text" id="texto" placeholder="title">
          <input class="form-control" id="chatBox" type="text" id="texto" placeholder="description">
          <input class="form-control" id="chatBox" type="number" id="texto" placeholder="Price">
          <input class="form-control" id="chatBox" type="text" id="texto" placeholder="thumbnail">
          <input class="form-control" id="chatBox" type="number" id="texto" placeholder="code">
          <input class="form-control" id="chatBox" type="number" id="texto" placeholder="stock">
          <input class="form-control" id="chatBox" type="text" id="texto" placeholder="status">
          <input class="form-control" id="chatBox" type="text" id="texto" placeholder="category">
        </div>            
        <button type="submit" class="btn btn-primary mb-2">Agregar</button>
        <button type="submit" class="btn btn-primary mb-2">Eliminar</button>
     </form>
  </div>